RewriteEngine On
RewriteBase /admin/

# Redirect /admin/index to /admin/index.php internally
RewriteRule ^index$ index.php [L]

# Redirect other pretty URLs to corresponding PHP files if exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]
